@import "common.scss";

.top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__logo {
      color: var(--c-red);
      font-size: 20px;
      font-weight: 900;
      &--light {
          font-weight: 400;
      }
  }
  &__button {
      cursor: pointer;
      font-weight: 400;
      padding: 10px;
  }
}