@import "common.scss";

.listWrapper{
    display: grid;
    flex-wrap: wrap;
    padding: 58px;
    grid-template-columns: repeat(3, [col] 320px );
    grid-gap: 56px;
    margin-top: 10px;
    background: var(--c-darkGrey);
}