@import "common.scss";

.CustomAlertCont{
  width: 650px;
  &__el{
    display: flex;
    flex-direction: column;
    .titleLable{
      color: var(--c-red);
      padding: 15px 0;
    }
    &--content{
      padding: 40px 0;
      font-weight: 300;
    }
    &--actions{
      flex-direction: row;
      grid-column-start: 1;
      grid-column-end: 3;
      justify-content: flex-end;
    }
  }
  .btn{
    padding: 20px 60px;
    border-radius: 5px;
    margin: 0 10px;
    background: var(--c-red);
    color: var(--c-white);
    &--border{
      background: transparent;
      border: 1px solid var(--c-red);
      color: var(--c-red);
    }
  }
}